/* 
general 
-------
*/
* {
    margin: 0;
    padding: 0;
  }
  .nav{
    color: black;
    text-align: center;
  }
  
.topnav {
  background-color:white;
  margin-right: 20%;
  margin-left: 20%; 
  text-align: center;
  padding-left: 20%;
  
}





